[Unit]
Description=Node Exporter
After=network.target

[Service]
User={{ node_exporter_user }}
ExecStart={{ node_exporter_bin_dir }}/node_exporter \
    --web.listen-address=:{{ node_exporter_port }}

[Install]
WantedBy=multi-user.target